.body {
    background-color:  rgb(201, 109, 55);
}
#count {
font-size: 50px;
display: block;
text-align: center;
}
#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: wheat;
    background-color:rgb(199, 203, 133);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: hsl(214, 100%, 56%)
}