
.search-bar{
    display: block;

}
.video-preview{
    width: 400px;
    display: inline-block; 
    margin-right: 25px;
}
.video-thumbnail{
width: 350px;
}
.video-channel{
    display: inline-block;
    width: 60px;
}
.video-info-preview{
    margin-top: 0;
    vertical-align: top;
    display: inline-block;
}
.channel-profile{
    height: 50px;
   border-radius: 50px;
}
.video-channel{
   height: 60px;
   vertical-align: top;
}
.video-title{
margin-top: 0;
}
.video-info{

}
.video-title{

}