
.search-bar{
    display: block;

}
.video-preview{
    width: 400px;
    display: inline-block; 
    margin-right: 25px;
}
.video-thumbnail{
width: 350px;
}
.video-title{

}
.video-info{

}
.video-title{

}