
.search-bar{
    display: block;

}
.video-preview{
    width: 400px;
    display: inline-block; 
    margin-right: 25px;
}
.video-thumbnail{
width: 350px;
}
.video-channel{
    display: inline-block;
    width: 60px;
}
.video-info-preview{
    display: inline-block;
}
.channel-profile{
    width: 55px;
}
.video-title{

}
.video-info{

}
.video-title{

}